template(name='home')
    // +slider
    .ui.basic.center.aligned.segment
        .ui.big.statistic
            .value.facet_black Facet
            .label.large-text Enterprises
    .ui.text.container
        +team
        +services_card
        +clients


template(name='team')
    .ui.horizontal.divider.header Team
    .ui.list
        .item Eric Jackson: Director
        .item Tori Webster: Director of Operations
        .item Jennifer Phelps: Director of Research
        .item Ellie: Media
        .item Lauren: Content
        .item Brooke: UX/ User Experience
        .item Brian: Software Engineer

template(name='services_card')
    .ui.horizontal.divider.header Services
    .ui.list
        .item Web Design
        .item App Development
        .item Content
        .item Marketing
        .item Design
    .ui.horizontal.divider.header Products
    .ui.list
        .item Facet Data 
        .item Watering Hole Community Software
        .item Bubl Social Data Analytics
    .ui.horizontal.divider.header Projects
    .ui.list
        .item Project Sphere


template(name='clients')
    .ui.horizontal.divider.header Clients
    .ui.list
        .item Paul Domich: CIP Consulting
        .item JamsAt
        .item Impact Hub Boulder
        .item ToriWebster.com